#domain-buttons {
  margin-bottom: 30px;
}

.domain-btn {
  padding: 12px 24px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff9800; /* Orange */
  color: #fff; /* White text */
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.domain-btn.active {
  background-color: #ff5722; /* Darker tone of orange on the active state */
}
