#email-display {
    margin-top: 30px;
    font-size: 18px;
    padding: 20px;
    border-radius: 8px;
    background-color: #424242;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .copy-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }
  
  @media (max-width: 600px) {
    #email-display {
      font-size: 14px;
      padding: 15px;
      flex-direction: column;
    }
    .copy-btn {
      font-size: 16px;
    }
  }
  